* {margin: 0;padding: 0;box-sizing: border-box;}

body {margin: 0;padding: 0;}

input, button {outline: none;border: none;}

/* Header Start */

header {width: 100%;height: auto;}

nav {width: 100%;height: 50px;background: #4C4C4C;
    padding: 7px 30px 0 40px;text-align: center;}

.logo-top {float: left;}

.logo-top img {width: 60%;}

nav ul {display: inline-block;padding-top: 3px;}

nav ul li {display: inline-block;margin: 0 0px 0 30px;}

nav ul li a {text-decoration: none;color: #fff;font-size: medium;font-weight: 600;}

.li-dropdown {position: relative;text-align: center;}

.li-dropdown:hover .li-dropdown-content {display: block;}
.li-dropdown:hover .li-dropdown-content-secret {display: block;}

.li-dropdown .li-dropdown-content {position: absolute;top: 50px;left: -150px;
    background: #2C2C2C;padding: 20px 30px;width: 345px;display: none;}

.li-dropdown .li-dropdown-content:before {content: "";position: absolute;width: 0;height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #2c2c2c;
    border-left: 20px solid transparent;
    top: -40px;
    left: 45%;
}

.li-dropdown .li-dropdown-content-secret {position: absolute;top: 50px;left: 200px;
    background: #2C2C2C;padding: 20px 30px;width: 345px;display: none;}

.li-dropdown .li-dropdown-content-secret:before {content: "";position: absolute;width: 0;height: 0;
    border-top: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #2c2c2c;
    border-left: 20px solid transparent;
    top: -40px;
    left: 45%;
}

.social-media-icons {float: right;cursor: pointer;}

.social-media-icons i {color: #4C4C4C;padding: 8px;
    background: #F0EDED;border-radius: 50%;}

.btn-subscribe {padding: 6px 28px;color: #fff;margin-left: 30px;
    background: transparent;border: 2px solid #fff;border-radius: 20px;}

.app {font-size: 25px;float: right;color: #fff;cursor: pointer;display: none;}

.social-responsive-icons {
    right: 75px;
    bottom: 65px;
    position: fixed;
    z-index: 1111;
}
.social-responsive-icons > span > i {
    color: #fff;
    padding: 15px;
    font-size: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, .8);
}
.img {margin-bottom: 10px;cursor: pointer;}
.social-responsive-icons > span > i:last-of-type {color: #000;background-color: #fff;}

/* Modal Window */

.modal-window-response {position: absolute;transition: all 0.5s;background: #4C4C4C;
                        width: 100%;height: 500px;top: 50px;left: 0;padding-top: 30px;display: none;}

.modal-window-response img {margin: 0 0 0 10px;}

.modal-window-response ul {display: block;padding: 0;margin-left: -20px;}

.modal-window-response ul li {display: block;margin-top: 10px;}

.modal-window-response ul li a {color: #fff;}

.modal-window-response .social-media-icons {float: none;}

.modal-window-response button {margin: 0;}

.banner-img img {width: 100%;height: 150px;}

@media(max-width: 968px) {
    nav {background: #000;}
    .responsive-navbar {
        display: none;
    }
    .app {display: block;}
    .modal-window-response {display: block;}
}
/* end header */

/* start main */

main {width: 100%;height: auto;}

.main {float: none;text-align: center;padding-top: 50px;}

.main span i {background: #000;color: #F0EDED;}

.main .btn-subscribe {border: 2px solid black;color: black;margin: 0;padding: 15px 60px;border-radius: 80px;}

.bg-pink {background: #FFFAD8;}

.main-content-2 {width: 100%;height: auto;}

.btns {text-decoration: none;color: #000;border: 1px solid black;padding: 4px 18px;
    border-radius: 30px;display: inline-flex;margin: 10px 5px 0 5px;}

.btn-see {padding: 18px 72px;background: orange;color: #fff;border-radius: 60px;}

.card {cursor: pointer;}

.card img {width: 100%;height: 250px;}

.dark {border: 2px solid black;color: black;padding: 14px 62px;border-radius: 60px;margin: 0;}

.social-media-icons-big span i {font-size: x-large;padding: 12px;background: #000;color: #fff;border-radius: 50%;}